{{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}
{{ form_errors(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.points) }}
<button type="submit" class="btn">Save</button>
{{ form_end(form) }}
